<div style="padding-left: 250px; padding-right: 250px;">
	<div class="d-flex justify-content-center" style="padding-bottom: 35px;border-bottom: 1px solid #8A8A8A;">
		<a href="#" style="color: #B8B8B8; text-decoration: none; margin-right: 50px;">
	    <span>
	      About us
	    </span>
	  </a>
	  <a href="#" style="color: #B8B8B8; text-decoration: none; margin-right: 50px;">
	    <span>
	      Help & Support
	    </span>
	  </a>
	  <a href="#" style="color: #B8B8B8; text-decoration: none; margin-right: 50px;">
	    <span>
	     	SLA
	    </span>
	  </a>
	  <a href="#" style="color: #B8B8B8; text-decoration: none; margin-right: 50px;">
	    <span>
	      Terms and Conditions
	    </span>
	  </a>
	  <a href="#" style="color: #B8B8B8; text-decoration: none;">
	    <span>
	      Privacy Policy
	    </span>
	  </a>
	</div>
	<div class="d-flex justify-content-between align-items-center" style="padding-top: 50px; padding-bottom: 60px;">
		<div class="text-white" style="opacity: 30%;">Sniffler © 2023  All rights reserved.</div>
		<div class="d-flex align-items-center">
			<div class="text-white" style="margin-right: 4px; opacity: 30%;">Made with</div>
			<img src={{asset '/images/love.svg'}} />
			<div class="text-white"  style="margin-left: 4px; opacity: 30%;">by Kolosek</div>
		</div>
	</div>
</div>
